<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ChatterBox!</title>
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/login.css">
  <link rel="stylesheet" href="./css/signup.css">
  <link rel="stylesheet" href="./css/chat.css">
</head>

<body>
  <nav>
    <a id="portfolio-link" href="">
      <img src="./assets/Logo.png" alt="Logo thing">
    </a>
  </nav>
  <script>
    // Array of portfolios
    var portfolios = [
      'https://bboughter.github.io/personal-portfolio/',
      'https://ctvb.github.io/professional-portfolio/',
      'https://b-reddington.github.io/breddington-portfolio/',
      'https://nwalk33.github.io/homework2/'
    ];

    var portfolioLink = document.getElementById('portfolio-link');
      portfolioLink.addEventListener('click', function (event) {
        event.preventDefault();
        var randomIndex = Math.floor(Math.random() * 4);
        portfolioLink.href = portfolios[randomIndex];
        window.location = portfolioLink.href;
    });
  </script>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>ChatterBox</h1>
    </header>
    <main class="container">
      
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>