
	<div class="messages">
		{{#each messages}}
			<div class="message">
				<p>{{sender}}: {{content}}</p>
				<small>{{timestamp}}</small>
			</div>
		{{/each}}
	</div>
	<form>
		<input type="text" name="sender" placeholder="Your name">
		<textarea name="message" placeholder="Type your message here"></textarea>
		<button type="submit">Send</button>
	</form>

<script src="../routes/api/message-routes.js"></script>