<form class="form signup-form">
    <div class="form-group">
        <label for="first-name-signup">FIRST NAME:</label>
        <input class="form-input" type="text" id="first-name-signup" />
    </div>
    <div class="form-group">
        <label for="last-name-signup">LAST NAME:</label>
        <input class="form-input" type="text" id="last-name-signup" />
    </div>
    <div class="form-group">
        <label for="username-signup">USERNAME:</label>
        <input class="form-input" type="text" id="username-signup" />
    </div>
    <div class="form-group">
        <label for="email-signup">EMAIL:</label>
        <input class="form-input" type="text" id="email-signup" />
    </div>
    <div class="form-group">
        <label for="password-signup">PASSWORD:</label>
        <input class="form-input" type="password" id="password-signup" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="register">REGISTER</button>
    </div>
</form>
</div>
</div>

<script src="/js/signup.js"></script>