<div class="signup-box">
        <div class="col-md-6">
            <h2 class="text-center mb-4">REGISTER</h2>
    
            <form class="form signup-form">
                <div class="form-group">
                    <label for="first-name-signup">FIRST NAME:</label>
                    <input class="form-control" type="text" id="first-name-signup" required>
                </div>
                <div class="form-group">
                    <label for="last-name-signup">LAST NAME:</label>
                    <input class="form-control" type="text" id="last-name-signup" required>
                </div>
                <div class="form-group">
                    <label for="username-signup">USERNAME:</label>
                    <input class="form-control" type="text" id="username-signup" required>
                </div>
                <div class="form-group">
                    <label for="email-signup">EMAIL:</label>
                    <input class="form-control" type="email" id="email-signup" required>
                </div>
                <div class="form-group">
                    <label for="password-signup">PASSWORD:</label>
                    <input class="form-control" type="password" id="password-signup" required>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary" type="register">REGISTER</button>
                </div>
            </form>
        </div>
    </div>
    

<script src="/js/signup.js"></script>