@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --dark-color-a: #505d71;
    --dark-color-b: #7386ff;
    --light-color: #cfdae1;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: var(--light-color);
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    display: center;
    margin-bottom: 10px;
}

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.form-input {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #0069d9;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.remember-me input[type="checkbox"] {
    margin-right: 10px;
}

.signup-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.signup-form {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
}

.signup-box h2 {
    text-align: center;
}

.signup-form label {

    margin-bottom: 5px;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
}

.signup-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: none;
    background-color: #2196F3;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.signup-form input[type="submit"]:hover {
    background-color: #0b7dda;
}

.signup-form .form-group:last-child {
    margin-bottom: 0;
}

.signup-form .button {
    display: flex;
    justify-content: center;
}


.chat-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    width: 80%;
}

.container {
    display: flex;
    background-color: #e6f2ff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 0 auto;
}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 150px;
    width: 40%;
    height: 100%;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 150px;
    width: 60%;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px 0 0 5px;
    height: 100%;
}

.dropdown {
    position: relative;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}


.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown.active .dropdown-content {
    display: block;
}

.account-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.account-button {
    font-size: 24px;
}

.users-section {
    display: flex;
    flex-direction: column;
}

.users-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 300px;
}

.user {
    margin-bottom: 10px;
    cursor: pointer;
}

.user:hover {
    background-color: #f1f1f1;
}

.status-section {
    display: flex;
    flex-direction: column;
}

.status {
    margin-top: auto;
}